*
{
    margin: 0;
    padding: 0;
}

.video
{
    z-index: -1;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    object-fit: cover;
    
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    color: orangered;

}
.head
{
    text-decoration: none;
    cursor: pointer;
    
}
.gallery
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.f1
{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}